extends layout

block content
  tr
    td
      form(action="/push-firebase" method="post")
        for option in options
          div.checkbox
            label
              input(type="checkbox", name= "box-" + option.unique_id, value= option.unique_id)
              span.checkbox-decorator
                span.check
                div.ripple-container
              p #{option.batch_num}, #{option.date_userID_created.toISOString().split('T')[0]}, #{option.snn}, #{option.gender}, #{option.first_name}, #{option.last_name}, #{option.lic_num}, #{option.birthdate.toISOString().split('T')[0]}, #{option.points_strike}, #{option.dl_class}
        button.btn.btn-primary.btn-raised(type="submit") Submit
          